.img {
    max-width: 100%;
    height: auto;
    width: 500px;
    border: solid;
}

.input-append .btn.dropdown-toggle {
    float: none;
    background-color: yellow;
}

[data-toggle="toggle"] {
	display: none;
}

.label tr td label {
	display: block;
}

select {
    background-color: yellow;
}

