{% extends 'main.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <label class="form-label">Table A Column 2</label>
                    <input type="text" style="background-color: yellow;" class="form-control" name="a-column-2">
                </div>

                <div class="col">
                    <label class="form-label">Table A Column 3</label>
                    <input type="text" style="background-color: yellow;" class="form-control" name="a-column-3">
                </div>
            </div>

            <div class="row my-5">
                <div class="col">
                    <label class="form-label">Table B Column 2</label>
                    <input type="text" style="background-color: yellow;" class="form-control" name="b-column-2">
                </div>
            </div>

            <div class="row my-5">
                <div class="col">
                    <label class="form-label">Table C Column 2</label>
                    <input type="text" style="background-color: yellow;" class="form-control" name="c-column-2">
                </div>

                <div class="col">
                    <label class="form-label">Table C Column 3</label>
                    <input type="text" style="background-color: yellow;" class="form-control" name="c-column-3">
                </div>

                <div class="form-group">
                    <label for="exampleFormControlSelect1">Table C Column 4</label>
                    <select class="form-control" id="exampleFormControlSelect1" style="background-color: yellow;">
                    {% for choice in c %}
                      <option>{{choice}}</option>
                    {% endfor %}
                    </select>
                </div>

            </div>

            <div class="row my-5">
                <div class="col">
                    <label class="form-label">First Octet</label>
                    <input type="text" style="background-color: yellow;" class="form-control" name="first">
                </div>
                
                <div class="col">
                    <label class="form-label">Second Octet</label>
                    <input type="text" style="background-color: yellow;" class="form-control" name="second">
                </div>
                
                <div class="col">
                    <label class="form-label">Third Octet</label>
                    <input type="text" style="background-color: yellow;" class="form-control" name="third">
                </div>
                
                <div class="col">
                    <label class="form-label">Fourth Octet</label>
                    <input type="text" style="background-color: yellow;" class="form-control" name="fourth">
                </div>
                
                <div class="col">
                    <label class="form-label">Subnet Mask</label>
                    <input type="text" style="background-color: yellow;" class="form-control" name="subnet-mask">
                </div>


            </div>

            <center>
                <div class="row" style="width:25%;">
                    <div class="col">
                        <label class="form-label">Table F Variable</label>
                        <input type="text" style="background-color: yellow;" class="form-control" name="variable">
                    </div>
                </div>
            </center>

            <div class="row my-5">
                <div class="col">
                    <label class="form-label">Table G Column 2</label>
                    <input type="text" style="background-color: yellow;" class="form-control" name="g-column-2">
                </div>

                <div class="col">
                    <label class="form-label">Table G Column 3</label>
                    <input type="text" style="background-color: yellow;" class="form-control" name="g-column-3">
                </div>
            </div>
            
                
            <center>
                <div class="row my-5">
                    <button class="btn btn-primary" type="submit" value="Submit">Submit</button>
                </div>
            </center>
        </form>
    </div>
{% endblock %}