{% extends 'main.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
          <p class="h1">Table A</p>
            <table class="table" id="tablea">
                <thead>   
                  <tr>
                    <th scope="col">Column 2</th>
                    <th scope="col">Column 3</th>
                  </tr>
                </thead>
                <tbody>
                  {% for row in a %}
                  <tr>
                    <td>{{row.column2}}</td>
                    <td>{{row.column3}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>

        <div class="row">
          <p class="h1">Table B</p>

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Column 2</th>
                  </tr>
                </thead>
                <tbody>
                  {% for row in b %}
                  <tr>
                    <td>{{row.column2}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>

        <div class="row">
          <p class="h1">Table C</p>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Column 2</th>
                    <th scope="col">Column 3</th>
                    <th scope="col">Column 4</th>
                  </tr>
                </thead>
                <tbody>
                  {% for row in c %}
                  <tr>
                    <td>{{row.column2}}</td>
                    <td>{{row.column3}}</td>
                    <td>{{row.column4}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>

        <div class="row">
          <p class="h1">Table D</p>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">First Octet</th>
                    <th scope="col">Second Octet</th>
                    <th scope="col">Third Octet</th>
                    <th scope="col">Fourth Octet</th>
                    <th scope="col">Subnet Mask</th>
                    <th scope="col">Host</th>
                  </tr>
                </thead>
                <tbody>
                  {% for row in d %}
                  <tr>
                    <td>{{row.first_octet}}</td>
                    <td>{{row.second_octet}}</td>
                    <td>{{row.third_octet}}</td>
                    <td>{{row.fourth_octet}}</td>
                    <td>{{row.subnet_mask}}</td>
                    <td>{{row.host}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>

        <div class="row">
          <p class="h1">Table E</p>

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">1</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
        </div>
        
        <div class="row">
          <p class="h1">Table F</p>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">1</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
        </div>
        
        <div class="row">
          <p class="h1">Table G</p>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">1</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
        </div>
        
        <div class="row">
          <p class="h1">Table H</p>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">1</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
        </div>

    </div>
{% endblock %}